<header>
    <heading title="Flight Record" url="https://github.com/sanhozay/PilotLog"></heading>
</header>
<content>
    <aside>
        <search example-changed="$ctrl.refreshPage(1)"></search>
    </aside>
    <flights content="$ctrl.data.content"
             duration-totals="$ctrl.data.durationTotals"
             on-click-column="$ctrl.columnClicked(flight, property)"
             on-click-heading="$ctrl.headingClicked(property)">
    </flights>
    <footer>
        <pager page="$ctrl.pageable.pageNumber"
               of="$ctrl.data.totalPages"
               page-size="$ctrl.pageable.size"
               on-page-changed="$ctrl.refreshPage(page)"
               on-page-size-changed="$ctrl.adjustPageSize(pageSize)">
        </pager>
        <status entity="flight" plural="flights" count="$ctrl.data.totalElements"></status>
    </footer>
</content>
