<table style="box-sizing: border-box; width: 50%; height: 250px; clear: both; float: right; padding: 10px">
    <tr>
        <th>Aircraft</th>
        <td>{{$ctrl.flight.aircraft | capitalize}}</td>
    </tr>
    <tr>
        <th>Origin</th>
        <td>{{$ctrl.flight.origin}}</td>
    </tr>
    <tr ng-show="$ctrl.flight.status == 'COMPLETE'">
        <th>Destination</th>
        <td>{{$ctrl.flight.destination}}</td>
    </tr>
    <tr>
        <th>Distance</th>
        <td>{{$ctrl.flight.distance.toFixed()}}</td>
    </tr>
    <tr>
        <th>Groundspeed</th>
        <td>{{$ctrl.flight.speed.toFixed()}}</td>
    </tr>
    <tr>
        <th>Altitude</th>
        <td>{{$ctrl.flight.altitude.toFixed()}}</td>
    </tr>
    <tr>
        <th>Duration</th>
        <td>{{$ctrl.flight.duration | duration}}</td>
    </tr>
</table>
