<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<title>Pilot Log</title>
<meta charset="UTF-8" />
<link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet" />
<link href="../static/css/pilotlog.css" th:href="@{/css/pilotlog.css}" rel="stylesheet" />
<script type="text/javascript">
	function clearForm() {
		document.forms[0].callsign.value = "";
		document.forms[0].aircraft.value = "";
		document.forms[0].origin.value = "";
		document.forms[0].destination.value = "";
		document.forms[0].submit();
	}
</script>
</head>
<body>
  <div th:fragment="mainHeading(title)">
    <img th:src="@{/images/logo.png}" />
    <div class="title">
      <h1 th:text="${title}">Title</h1>
      <a href="https://github.com/sanhozay/PilotLog" target="_blank">https://github.com/sanhozay/PilotLog</a>
    </div>
    <form th:fragment="searchForm" method="GET" th:object="${example}">
      <fieldset>
        <legend>Search</legend>
        <div class="row">
          <label for="aircraft">Aircraft</label>
          <input type="text" name="aircraft" th:value="${example.aircraft}" autocomplete="off" />
        </div>
        <div class="row">
          <label for="aircraft">Registration</label>
          <input type="text" name="callsign" th:value="${example.callsign}" autocomplete="off" />
        </div>
        <div class="row">
          <label for="aircraft">Departure</label>
          <input type="text" name="origin" th:value="${example.origin}" autocomplete="off" />
        </div>
        <div class="row">
          <label for="destination">Arrival</label>
          <input type="text" name="destination" th:value="${example.destination}" autocomplete="off" />
        </div>
        <div class="buttons">
          <input class="button" type="submit" value="Search" />
          <input class="button" type="button" value="Clear" onClick="clearForm();" />
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>
