@CHARSET "UTF-8";

body {
    margin: 1em;
    font-family: sans-serif;
    min-width: 800px;
}

/* Heading */

heading img {
    float: left;
    width: 135px;
    height: 155px;
    margin-right: 10px;
    margin-bottom: 1em;
}

heading .compositeTitle {
    float: left;
    color: DarkBlue;
}

heading .compositeTitle h1 {
    font-size: 275%;
    text-transform: uppercase;
    margin-bottom: 0;
}

heading .compositeTitle a {
    color: DarkBlue;
    text-decoration: none;
    margin-left: 2px;
    font-size: 95%;
}

heading .compositeTitle a:hover {
    text-decoration: underline;
}

heading .compositeTitle .version {
    font-size: 95%;
    display: inline-block;
    margin: 0;
}

heading .menu {
    margin: 0;
    padding: 0;
}

heading .menu li {
    margin-top: 1ex;
    padding: 0 0.5ex;
    border-left: solid DarkBlue 1px;
    display: inline-block;
}

heading .menu li:first-child {
    padding: 0 0.5ex 0 0;
    border-left: none;
}

/* Search form */

search form {
    color: gray;
    float: right;
    font-size: small;
}

search form fieldset {
    border-radius: 10px;
    padding: 10px;
}

search form legend {
    padding: 0 5px;
    text-align: right;
    text-transform: uppercase;
}

search form label {
    padding-top: 5px;
    width: 6em;
    float: left;
}

search form input[type='text'] {
    margin: 2px;
}

search form input.button {
    background: -webkit-linear-gradient(top, #8db0f2, cornflowerblue);
    background: -moz-linear-gradient(top, #8db0f2, cornflowerblue);
    background: -ms-linear-gradient(top, #8db0f2, cornflowerblue);
    background: -o-linear-gradient(top, #8db0f2, cornflowerblue);
    color: #f0f0f8;
    width: 5.5em;
    border: none;
    border-radius: 5px;
}

search form input.button:hover {
    color: white;
}

search form .buttons {
    margin-top: 5px;
    margin-right: 3px;
    float: right;
}

/* Views */

flights, summary, #map {
    margin-top: 2em;
    width: 100%;
    clear: both;
    min-width: 800px;
}

#map {
    height: 600px;
}

/* Tables */

table {
    border: solid #333333 4px;
    padding: 1ex;
    border-collapse: collapse;
    width: 100%;
    clear: both;
}

table caption {
    text-align: left;
    font-style: italic;
    font-size: small;
    margin-bottom: 0.5ex;
    color: Gray;
}

tr.main {
    font-size: 110%;
    text-transform: uppercase;
}

th, td {
    padding: 1ex;
    border: solid #333333 1px;
    text-align: center;
    white-space: nowrap;
}

thead, tfoot {
    background-color: #f8f8fa;
}

tbody {
    border: solid #333333 3px;
}

tbody, .written {
    color: #0000a0;
    font-family: Comic Sans MS, ChalkboardSE-Regular, cursive;
}

tfoot .footerTitle {
    font-weight: bold;
    text-align: right;
}

tr.COMPLETE {
    color: #0000a0;
}

tr.ACTIVE {
    color: #b0b0b0;
}

tr.INVALID {
    color: #c00000;
    text-decoration: line-through;
}

tr.ACTIVE:hover {
    background: -webkit-linear-gradient(top, #bfbfbf, darkgray);
    background: -moz-linear-gradient(top, #bfbfbf, darkgray);
    background: -ms-linear-gradient(top, #bfbfbf, darkgray);
    background: -o-linear-gradient(top, #bfbfbf, darkgray);
    color: white;
}

tr.COMPLETE:hover {
    background: -webkit-linear-gradient(top, #8db0f2, cornflowerblue);
    background: -moz-linear-gradient(top, #8db0f2, cornflowerblue);
    background: -ms-linear-gradient(top, #8db0f2, cornflowerblue);
    background: -o-linear-gradient(top, #8db0f2, cornflowerblue);
    color: white;
}

tr.INVALID:hover {
    background: -webkit-linear-gradient(top, #de5454, #d62929);
    background: -moz-linear-gradient(top, #de5454, #d62929);
    background: -ms-linear-gradient(top, #de5454, #d62929);
    background: -o-linear-gradient(top, #de5454, #d62929);
    color: white;
}

table a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Footer */

footer {
    width: 100%;
    clear: both;
    margin-top: 1em;
}

/* Pager */

pager {
    float: left;
    font-size: small;
    color: Gray;
}

pager label {
    margin-right: 0.5ex;
}

pager .pageSizeChooser {
    display: inline-block;
    margin-right: 1em;
    padding: 2px;
}

pager .pageBalloons {
    display: inline-block;
}

pager .pageBalloons ol {
    display: inline-block;
    margin: 0;
    padding: 0;
}

pager .pageBalloons li {
    text-align: center;
    display: inline-block;
    width: 4ex;
    text-decoration: none;
    border: solid gray 1px;
    border-radius: 5px;
    color: gray;
    background-color: white;
    padding: 2px;
    font-size: small;
    margin-right: 2px;
    cursor: pointer;
}

pager .pageBalloons .current {
    color: white;
    background-color: cornflowerblue;
}

pager .pageBalloons .spacer {
    color: gray;
    border: none;
    padding: 4px;
    background-color: white;
    cursor: default;
}

pager .pageBalloons .page:hover {
    background-color: #e0e0f0;
}

/* Status */

status p {
    float: right;
    margin: 0;
    padding: 0;
    color: Gray;
}
